## FAIR-DB: ADULT US CENSUS DATASET
1. Data Preparation and Exploration (saltata, solo Data Acquisition)
2. ACFDs Discovery and Filtering (CFDDiscovery algorithm)
3. ACFDs Completion
4. ACFDs Selection and ACFDs Ranking
5. Compute dversity - coverage
5. ACFDs User Selection and Scoring (not present in this notebook)

## 1. Data acquisition

In [24]:
import pandas
import numpy as np
file_path = '~/Dropbox/Tesi/cdfAlgorithm/cfddiscovery/datasets/preprocessedAdultNoOccupation.csv'

df = pandas.read_csv(file_path)
all_tuples = len(df)
cols = df.columns

print("Total number of tuples in dataframe: " ,len(df))
df.head()

Total number of tuples in dataframe:  30169

,workclass,race,sex,hours-per-week,native-country,income,age-range,education-degree
0,Private,White,Female,0-20,NC-White,<=50K,75-100,HS-College
1,Private,White,Female,21-40,NC-White,<=50K,45-60,Elementary
2,Private,White,Female,21-40,NC-White,<=50K,30-45,Assoc
3,Private,White,Female,41-60,NC-White,<=50K,30-45,HS-College
4,Private,White,Male,21-40,NC-White,<=50K,30-45,MiddleSchool

In [25]:
#INPUTS
#array of protected attributes
protected_attr = ['race', 'sex', 'native-country']
#target class
target = 'income'
binaryValues = df.income.unique()
print(binaryValues)

#input parameters
confidence =  0.86
supportCount = 900
support = supportCount/len(df)
maxSize = 4
grepValue = target+'='
minDiff = 0.07

['<=50K' '>50K']

## 2. ACFDs Discovery and Filtering

1. Establish a support, confidence and a maxSize rule (= number of attributes that at most appears in the lhs part of the rule) apply CFDDiscovery algorithm (remember to apply cmake before!). We use the grep command to establish a particular attribute or value, in this case the target must be present.

In [26]:
#Apply CFDDiscovery algorithm
output = !../cdfAlgorithm/cfddiscovery/CFDD {file_path} {supportCount} {confidence} {maxSize} | grep {grepValue}

#all rules obtianed
print("Total number of dependencies found: " ,len(output), "\n")

for i in range(0,12):
    print("Dependency n.", i, ": " ,output[i])

Total number of dependencies found:  2487

Dependency n. 0 :  (education-degree=MiddleSchool) => income=<=50K
Dependency n. 1 :  (age-range=15-30) => income=<=50K
Dependency n. 2 :  (education-degree=Bach, age-range=15-30) => income=<=50K
Dependency n. 3 :  (education-degree=MiddleSchool, age-range=15-30) => income=<=50K
Dependency n. 4 :  (education-degree=Assoc, age-range=15-30) => income=<=50K
Dependency n. 5 :  (education-degree=HS-College, age-range=15-30) => income=<=50K
Dependency n. 6 :  (native-country=NC-Hispanic) => income=<=50K
Dependency n. 7 :  (income=>50K) => native-country=NC-White
Dependency n. 8 :  (income=<=50K) => native-country=NC-White
Dependency n. 9 :  (native-country=NC-White, education-degree=MiddleSchool) => income=<=50K
Dependency n. 10 :  (education-degree, income=>50K) => native-country
Dependency n. 11 :  (income=>50K, education-degree=Mast) => native-country=NC-White

Output contains all rules: approximated FDs and  approximated CFDs

#### Now we parse the rule, first deleting the AFDs - in this notebook we study only CFDs.
#### Second condition to select rules we can establish some conditions like:
- condition1 (both on LHS or RHS) : it could be a particular value of an attribute in which we are not interested 
- condition2: it could be a particular value of an attribute in which we need for our rules (not implemented yet)

In [27]:
#Transform the '<=' in '<' and viceversa to not have problem with the following '=' detection
o1 = list(map(lambda x: x.replace("<=", "<"), output))
#o1 = list(map(lambda x: x.replace(">=", ">"), output))
#Delete the parenthesis
o1 = list(map(lambda x: x.replace("(", ""), o1))
o1 = list(map(lambda x: x.replace(")", ""), o1))
#Split the entire rule in a lhs and rhs 
o2 = list(map(lambda x: x.split(' => '), o1))

In [28]:
#Function to select only CFDs from all rules
#x is the single rule
def parseCFD(x):
    #Flag indicates if the rule is a CFD (True) or and FD (False)
    isCFD = True
    rawLHS = x[0].split(', ')
    #lhs rule
    for i, y in enumerate(rawLHS):
        for attr in cols:
            if (y in str(attr+'=!')):
                isCFD = False
        
       
    rawRHS = x[1].split(', ')
    for i, y in enumerate(rawRHS):
        for attr in cols:
            if (y in str(attr+'=!')):
                isCFD = False
      
        #To keep only CFDs
        if(isCFD == True):
            return [rawLHS, rawRHS]
        else:
            return None
        
#conditions is an array of conditions to delete some rules that are not interesting, for example:
#  ex: conditionslhs = ['age-range=15-30', 'native-country=NC-White']     

def parseCFDWithCond(x, conditionslhs, conditionsrhs):
    #Flag indicates if the rule is a CFD (True) or and FD (False)
    isCFD = True
    #Flag indicates if the rule contains unwanted condition(s) (rhs or lhs) - it doesn't contain the condition (true)
    takenRule = True
    rawLHS= x[0].split(', ')
    #lhs rule
    for i, y in enumerate(rawLHS):
        for attr in cols:
            if (y in str(attr+'=!')):
                isCFD = False
            for condlhs in conditionslhs:
                if (y == condlhs):
                    takenRule = False
        
       
    rawRHS = x[1].split(', ')
    for i, y in enumerate(rawRHS):
        for attr in cols:
            if (y in str(attr+'=!')):
                isCFD = False
            for condrhs in conditionsrhs:
                if (y == condrhs):
                    takenRule = False
      
        #To keep only CFDs
        if(isCFD == True and takenRule == True):
            return [rawLHS, rawRHS]
        else:
            return None
    
    
#condition to delete some rules that are not interesting, for example:
conditionslhs = ['age-range=15-30']
conditionsrhs = []

o3 = list()   
if not conditionslhs and not conditionsrhs:
    for i in o2:
        x = parseCFD(i)
        if (x != None):
            o3.append(x)
else:
    for i in o2:
        x = parseCFDWithCond(i,conditionslhs, conditionsrhs)
        if (x != None):
            o3.append(x)
            
for i in range(0,3):
    print(o3[i])

[['education-degree=MiddleSchool'], ['income=<50K']]
[['native-country=NC-Hispanic'], ['income=<50K']]
[['income=>50K'], ['native-country=NC-White']]

#### Create the dictionary for CFDs

In [29]:
#To split every couple attribute-value
def splitElem(l1):
    return list(map(lambda x: x.split('='), l1))

#To create an array that contains all rules with the lhs and rhs separated
def createSplitting(elem):
    elemLhs = elem[0]
    elemRhs = elem[1]
    LHS = splitElem(elemLhs)
    RHS = splitElem(elemRhs)
    return [LHS, RHS]

#Now that we have deleted all the '=' we can replace the "<" with '<='
def createDictionaryElem(side):
    elem = {}
    for x in side:
        replacedX = x[1].replace('<', '<=')
        elem[x[0]]= replacedX
    return elem

o4 = list(map(createSplitting, o3))
#for i in range(0,4):
#    print(o4[i])

#Create the dictionary with the LHS and RHS that contains all CFDs
parsedRules = list(map(lambda x: {'lhs' : createDictionaryElem(x[0]), 'rhs': createDictionaryElem(x[1])}, o4))

print("Total number of dependencies in the dictionary: " ,len(parsedRules))

Total number of dependencies in the dictionary:  578

#### ParsedRules is the final dictionary of approximated CFDs

In [30]:
for i in range(0,3):
    print("ACFD n.", i, ": " ,parsedRules[i])

ACFD n. 0 :  {'lhs': {'education-degree': 'MiddleSchool'}, 'rhs': {'income': '<=50K'}}
ACFD n. 1 :  {'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}
ACFD n. 2 :  {'lhs': {'income': '>50K'}, 'rhs': {'native-country': 'NC-White'}}

#### Create table: for each rule create a table that presents the main metrics

In [31]:
import math

def countOccur(elem):
    #How many times appears the lhs of the rule
    countX = 0
    #How many times appears the rhs of the rule
    countY = 0
    #How many times appears the entire rule
    countXY = 0
    
    #for every row of the database, count the LHS, RHS and the total count
    for index, row in df.iterrows():
        #The flags help in dealing with missing values
        flagX = True
        flagY = True
        
        for key in list(elem['lhs'].keys()):
            value = elem['lhs'][key]
            
            #add the constraint to manage '?' that could be a missing values
            if (str(row[key]) != value):
                flagX = False
                
        for key in list(elem['rhs'].keys()):
            value = elem['rhs'][key]
            
            #add the constraint to manage missing values
            if (str(row[key]) != value):
                flagY = False
                
        if flagX:
            #increase the lhs support count
            countX = countX + 1
        if flagY:
             #increase the rhs support count
            countY = countY + 1
        if flagX and flagY:
             #increase the entire rule support count
            countXY = countXY + 1
    #return the lhs supp count, rhs supp count and the entire rule supp count 
    return  (countX, countY, countXY)

def computeConfidenceNoProtectedAttr(elem):
    
    filteredRule = {}
    filteredRule['lhs'] = {k: v for k, v in elem['lhs'].items() if ((k not in (protected_attr)) and (k != target))}
    filteredRule['rhs'] = elem['rhs']
    
    fCount = countOccur(filteredRule)
    #if the rule is valid for at least one tuple
    if(fCount[2] != 0 and fCount[0] != 0):
        ratio = fCount[2]/fCount[0]
    else: 
        ratio = 0
    return ratio

def computeConfidenceForProtectedAttr(elem, protAttr):
    
    filteredRule = {}
    filteredRule['lhs'] = {k: v for k, v in elem['lhs'].items() if (k != protAttr)}
    filteredRule['rhs'] = elem['rhs']
    
    fCount = countOccur(filteredRule)
    #if the rule is valid for at least one tuple
    if(fCount[2] != 0 and fCount[0] != 0):
        ratio = fCount[2]/fCount[0]
    else:
        ratio = 0
    return ratio

def computePDifference(rule, conf, attribute):
    if(attribute in protected_attr):
        diffp = 0
        if(attribute in rule['lhs'].keys()):
            RHSConfidence = computeConfidenceForProtectedAttr(rule, attribute)
            diffp = conf - RHSConfidence
            return diffp
    return None

In [32]:
print("Total number of rules: ", len(parsedRules))

Total number of rules:  578

Compute a dataframe that contains all the metrics for every CFDs

In [33]:
def equalRules(rule1,rule2):

    flagR = True
    flagL = True
    
    for keyL in rule1['lhs'].keys():
        if(keyL in rule2['lhs'].keys()):
            if(rule1['lhs'][keyL]!=rule2['lhs'][keyL]):
                flagL = False
        else: 
            flagL = False
            
    for keyR in rule1['rhs'].keys():
        if(keyR in rule2['rhs'].keys()):
            if(rule1['rhs'][keyR]!=rule2['rhs'][keyR]):
                flagR = False
        else:
            flagR = False
            
    if(flagL==True and flagR == True):
        return True
    else:
        return False
    
def removeDuplicates(df):
    dfColumns = df.columns
    k=0
    dfClean= pandas.DataFrame(columns = dfColumns)
    for i, row in df.iterrows():
        flag = True
        rule1 = df.loc[i, 'Rule']
        j=k-1
        while(j>=0):
            rule2 = dfClean.loc[j, 'Rule']
            if(equalRules(rule1,rule2)==True):
                flag = False
            j=j-1
        if(flag == True):
            dfClean.loc[k] = df.loc[i]
            k=k+1
            
    return dfClean 
    
def removeDuplicatesArray(arrayList):
    
    cleanedArray = []
    k=0
    for i in range(0, len(arrayList)):
        flag = True
        rule1 = arrayList[i]
        j=k-1
        while(j>=0):
            rule2 = cleanedArray[j]
            if(equalRules(rule1,rule2)==True):
                flag = False
            j=j-1
        if(flag == True):
            cleanedArray.append(arrayList[i])
            k=k+1
            
    return cleanedArray

In [34]:
def createTable(parsedRules):
    df3 = pandas.DataFrame(columns=['Rule', 'Support', 'Confidence', 'Diff'])
    index_row = 0
    for i,parsedRule in enumerate(parsedRules):

        count = countOccur(parsedRule)
        support = tuple(map(lambda val: val/all_tuples, count))
        conf = 0
        confNoProtectedAttr = 0
        RHSConfidence = 0
        diff = 0
        flagProt = False

        for keyL in parsedRule['lhs'].keys():
            if(keyL in protected_attr):
                flagProt = True
        for keyR in parsedRule['rhs'].keys():
            if(keyR in protected_attr):
                flagProt = True

        if(support[0]!= 0 and support[1]!=0 and flagProt == True):
            conf = count[2]/count[0]
            confNoProtectedAttr = computeConfidenceNoProtectedAttr(parsedRule)
            diff = conf - confNoProtectedAttr

            #lift = support[2]/(support[0]*support[1])


            df3 = df3.append({'Rule': parsedRule, 'Confidence': conf, 'Support': support[2], 'Diff': diff}, ignore_index=True)

             #compute the diff for each protected  attributes
            for attribute in protected_attr:
                if(attribute in parsedRule['lhs'].keys()):
                    diffp = computePDifference(parsedRule, conf, attribute)
                    column = attribute+'Diff'
                    df3.loc[index_row,column] = diffp  
            index_row = index_row+1
    return df3

df3 = createTable(parsedRules)
 
pandas.set_option('display.max_colwidth', None)
pandas.set_option('display.max_rows', None)
print("Total number of tuples in dataframe: " ,len(df3))
df3.head()

Total number of tuples in dataframe:  568

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff
0,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.043919,0.908156,0.157021,0.157021,NaN,NaN
1,"{'lhs': {'income': '>50K'}, 'rhs': {'native-country': 'NC-White'}}",0.231861,0.931673,0.019777,NaN,NaN,NaN
2,"{'lhs': {'income': '<=50K'}, 'rhs': {'native-country': 'NC-White'}}",0.680036,0.905344,-0.006552,NaN,NaN,NaN
3,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'MiddleSchool'}, 'rhs': {'income': '<=50K'}}",0.074016,0.933138,-0.003229,-0.003229,NaN,NaN
4,"{'lhs': {'income': '>50K', 'education-degree': 'Mast'}, 'rhs': {'native-country': 'NC-White'}}",0.028141,0.924837,0.012728,NaN,NaN,NaN

In [35]:
df3 = removeDuplicates(df3)
print("Total number of tuples in dataframe: " ,len(df3))
df3.head()

Total number of tuples in dataframe:  568

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff
0,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.043919,0.908156,0.157021,0.157021,NaN,NaN
1,"{'lhs': {'income': '>50K'}, 'rhs': {'native-country': 'NC-White'}}",0.231861,0.931673,0.019777,NaN,NaN,NaN
2,"{'lhs': {'income': '<=50K'}, 'rhs': {'native-country': 'NC-White'}}",0.680036,0.905344,-0.006552,NaN,NaN,NaN
3,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'MiddleSchool'}, 'rhs': {'income': '<=50K'}}",0.074016,0.933138,-0.003229,-0.003229,NaN,NaN
4,"{'lhs': {'income': '>50K', 'education-degree': 'Mast'}, 'rhs': {'native-country': 'NC-White'}}",0.028141,0.924837,0.012728,NaN,NaN,NaN

#### Select the minDifference threshold

In [36]:
minDiff = 0.07
#To select the not ethical rules
df4 = df3[df3.Diff > minDiff]
print("Total number of tuples in dataframe: " ,len(df4))
df4.head()

Total number of tuples in dataframe:  128

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff
0,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.043919,0.908156,0.157021,0.157021,NaN,NaN
24,"{'lhs': {'hours-per-week': '21-40', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.033909,0.928312,0.122855,0.122855,NaN,NaN
54,"{'lhs': {'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.287447,0.886345,0.135210,NaN,0.135210,NaN
56,"{'lhs': {'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.101362,0.910932,0.126163,NaN,0.126163,NaN
57,"{'lhs': {'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.095926,0.931445,0.095758,NaN,0.095758,NaN

In [37]:
df4.head(128)

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff
0,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.043919,0.908156,0.157021,0.157021,NaN,NaN
24,"{'lhs': {'hours-per-week': '21-40', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.033909,0.928312,0.122855,0.122855,NaN,NaN
54,"{'lhs': {'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.287447,0.886345,0.135210,NaN,0.135210,NaN
56,"{'lhs': {'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.101362,0.910932,0.126163,NaN,0.126163,NaN
57,"{'lhs': {'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.095926,0.931445,0.095758,NaN,0.095758,NaN
58,"{'lhs': {'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.046538,0.868275,0.183995,NaN,NaN,NaN
59,"{'lhs': {'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.084159,0.877636,0.165426,NaN,NaN,NaN
60,"{'lhs': {'sex': 'Female', 'age-range': '30-45', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.034207,0.862876,0.130639,NaN,0.130639,NaN
61,"{'lhs': {'sex': 'Female', 'education-degree': 'HS-College', 'age-range': '30-45'}, 'rhs': {'income': '<=50K'}}",0.034108,0.909814,0.088641,NaN,0.088641,NaN
63,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.204647,0.901314,0.095857,NaN,0.095857,NaN
65,"{'lhs': {'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.099937,0.900269,0.084922,NaN,NaN,NaN
67,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.071232,0.915637,0.097112,NaN,0.097112,NaN
69,"{'lhs': {'hours-per-week': '41-60', 'income': '>50K', 'education-degree': 'Bach'}, 'rhs': {'sex': 'Male'}}",0.031522,0.885475,0.092992,NaN,NaN,NaN
70,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40', 'age-range': '30-45'}, 'rhs': {'income': '<=50K'}}",0.073188,0.863174,0.088042,NaN,0.088042,NaN
72,"{'lhs': {'age-range': '45-60', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.037953,0.918941,0.096346,NaN,NaN,NaN
73,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40', 'age-range': '30-45', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.026153,0.876667,0.085990,NaN,0.085990,NaN
74,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.028738,0.881994,0.130859,0.195754,-0.026162,NaN
75,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.262190,0.885382,0.134246,-0.000963,0.139644,NaN
81,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.094965,0.911260,0.126490,0.000327,0.128357,NaN
82,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.088932,0.932245,0.096557,0.000799,0.099563,NaN
93,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.044615,0.873459,0.189179,0.005184,NaN,NaN
100,"{'lhs': {'native-country': 'NC-White', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.078723,0.876384,0.164174,-0.001252,NaN,NaN
101,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'age-range': '30-45', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.032152,0.862989,0.130752,0.000113,0.132449,NaN
102,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'HS-College', 'age-range': '30-45'}, 'rhs': {'income': '<=50K'}}",0.031754,0.910646,0.089473,0.000832,0.092217,NaN
110,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.185720,0.900514,0.095057,-0.000800,0.099713,NaN
120,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.094501,0.901645,0.086298,0.001376,NaN,NaN
122,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'hours-per-week': '21-40', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.066227,0.915674,0.097149,0.000037,0.098949,NaN
132,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '41-60', 'income': '>50K', 'education-degree': 'Bach'}, 'rhs': {'sex': 'Male'}}",0.029699,0.885375,0.092893,-0.000099,NaN,NaN
133,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'hours-per-week': '21-40', 'age-range': '30-45'}, 'rhs': {'income': '<=50K'}}",0.066592,0.864458,0.089326,0.001283,0.093334,NaN
144,"{'lhs': {'native-country': 'NC-White', 'age-range': '45-60', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.035898,0.917797,0.095202,-0.001144,NaN,NaN
145,"{'lhs': {'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.081309,0.870167,0.119031,NaN,NaN,0.119031
147,"{'lhs': {'education-degree': 'HS-College', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.032351,0.919021,0.083333,NaN,NaN,0.083333
159,"{'lhs': {'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.064238,0.891034,0.085578,NaN,NaN,0.085578
168,"{'lhs': {'education-degree': 'HS-College', 'hours-per-week': '21-40', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.027180,0.904079,0.076013,NaN,NaN,NaN
171,"{'lhs': {'hours-per-week': '21-40', 'age-range': '30-45', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.026849,0.886214,0.111082,NaN,NaN,0.111082
178,"{'lhs': {'native-country': 'NC-White', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.075839,0.869631,0.118496,-0.000535,NaN,0.123893
179,"{'lhs': {'race': 'White', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.032252,0.916196,0.165061,0.179863,NaN,0.008040
183,"{'lhs': {'native-country': 'NC-White', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.216746,0.934811,0.075054,0.023916,NaN,NaN
185,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'HS-College', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.030694,0.918651,0.082963,-0.000370,NaN,0.085969
198,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.047532,0.930565,0.076891,0.010342,NaN,NaN
199,"{'lhs': {'native-country': 'NC-White', 'age-range': '30-45', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.030926,0.860701,0.160601,0.002820,NaN,0.166400
207,"{'lhs': {'native-country': 'NC-White', 'age-range': '30-45', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.103318,0.937162,0.083466,0.028249,NaN,NaN
219,"{'lhs': {'native-country': 'NC-White', 'age-range': '30-45', 'education-degree': 'Assoc', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.027644,0.919515,0.080005,0.014208,NaN,NaN
220,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.059796,0.891745,0.086288,0.000710,NaN,0.090944
230,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '21-40', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.101031,0.915041,0.085044,0.031776,NaN,NaN
243,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '21-40', 'education-degree': 'Assoc', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.028373,0.902002,0.076298,0.016740,NaN,NaN
257,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '21-40', 'age-range': '30-45', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.045046,0.918864,0.101682,0.039607,NaN,NaN
258,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '21-40', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.041002,0.907557,0.075297,0.024643,NaN,NaN
259,"{'lhs': {'sex': 'Female', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.043588,0.939286,0.188150,NaN,0.069119,0.052941
260,"{'lhs': {'race': 'White', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.229540,0.877026,0.125891,NaN,0.140694,-0.009319
265,"{'lhs': {'race': 'White', 'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.081342,0.903867,0.119098,NaN,0.132283,-0.007065
266,"{'lhs': {'race': 'White', 'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.075674,0.921308,0.085620,NaN,0.098429,-0.010138
267,"{'lhs': {'race': 'White', 'income': '>50K', 'education-degree': 'Bach'}, 'rhs': {'sex': 'Male'}}",0.055322,0.860753,0.162498,NaN,NaN,0.009859
268,"{'lhs': {'race': 'White', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.042859,0.868952,0.184672,NaN,NaN,0.000677
275,"{'lhs': {'race': 'White', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.077198,0.882531,0.170322,NaN,NaN,0.004896
284,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.035301,0.946667,0.141210,NaN,0.055632,0.045353
285,"{'lhs': {'race': 'White', 'sex': 'Female', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.158739,0.892471,0.087014,NaN,0.099500,-0.008843
288,"{'lhs': {'race': 'White', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.094368,0.905822,0.090476,NaN,NaN,0.005554
295,"{'lhs': {'race': 'White', 'sex': 'Female', 'hours-per-week': '21-40', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.055023,0.906608,0.088084,NaN,0.101174,-0.009029
297,"{'lhs': {'race': 'White', 'hours-per-week': '41-60', 'income': '>50K', 'education-degree': 'Bach'}, 'rhs': {'sex': 'Male'}}",0.029832,0.892857,0.100374,NaN,NaN,0.007382
301,"{'lhs': {'race': 'White', 'age-range': '30-45', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.047698,0.902194,0.072074,NaN,NaN,0.007427
302,"{'lhs': {'race': 'White', 'age-range': '45-60', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.035898,0.921702,0.099108,NaN,NaN,0.002762
305,"{'lhs': {'hours-per-week': '21-40', 'age-range': '30-45', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.037257,0.888538,0.071356,NaN,0.009281,NaN
308,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.040770,0.937500,0.186365,-0.001786,0.067869,0.052118
309,"{'lhs': {'race': 'White', 'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.213829,0.875187,0.124051,-0.001840,0.145137,-0.010195
316,"{'lhs': {'native-country': 'NC-White', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.186251,0.941048,0.081292,0.023600,0.006238,NaN
320,"{'lhs': {'race': 'White', 'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.077464,0.904762,0.119993,0.000895,0.134121,-0.006498
321,"{'lhs': {'race': 'White', 'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.071232,0.921527,0.085839,0.000219,0.101136,-0.010718
332,"{'lhs': {'race': 'White', 'native-country': 'NC-White', 'income': '>50K', 'education-degree': 'Bach'}, 'rhs': {'sex': 'Male'}}",0.053134,0.860902,0.162647,0.000149,NaN,0.007738
333,"{'lhs': {'race': 'White', 'native-country': 'NC-White', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.041466,0.872385,0.188105,0.003433,NaN,-0.001074
337,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'Assoc', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.047831,0.929768,0.072180,0.012847,0.007321,NaN
339,"{'lhs': {'native-country': 'NC-White', 'education-degree': 'HS-College', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.041466,0.929421,0.075747,0.008480,-0.001144,NaN
347,"{'lhs': {'race': 'White', 'native-country': 'NC-White', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.073851,0.882027,0.169817,-0.000504,NaN,0.005643
348,"{'lhs': {'native-country': 'NC-White', 'age-range': '30-45', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.087606,0.944266,0.090570,0.026293,0.007104,NaN
352,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White', 'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.032948,0.944867,0.139410,-0.001800,0.053122,0.044353
353,"{'lhs': {'race': 'White', 'sex': 'Female', 'native-country': 'NC-White', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.147138,0.889757,0.084301,-0.002714,0.103787,-0.010757
365,"{'lhs': {'race': 'White', 'native-country': 'NC-White', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.090656,0.907733,0.092386,0.001911,NaN,0.006089
368,"{'lhs': {'native-country': 'NC-White', 'hours-per-week': '21-40', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.082800,0.921091,0.091095,0.030993,0.006051,NaN
372,"{'lhs': {'workclass': 'Private', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.062415,0.896667,0.115459,NaN,NaN,0.115459
379,"{'lhs': {'workclass': 'Private', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.034240,0.929793,0.076316,NaN,NaN,NaN
382,"{'lhs': {'workclass': 'Private', 'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.049024,0.914091,0.080171,NaN,NaN,0.080171
394,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.038848,0.938351,0.157143,0.157143,NaN,NaN
400,"{'lhs': {'income': '<=50K', 'native-country': 'NC-Hispanic'}, 'rhs': {'workclass': 'Private'}}",0.038848,0.884528,0.145823,0.116248,NaN,NaN
416,"{'lhs': {'workclass': 'Private', 'hours-per-week': '21-40', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.030462,0.942564,0.108644,0.108644,NaN,NaN
424,"{'lhs': {'income': '<=50K', 'hours-per-week': '21-40', 'native-country': 'NC-Hispanic'}, 'rhs': {'workclass': 'Private'}}",0.030462,0.898338,0.134588,0.107599,NaN,NaN
437,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.057907,0.897739,0.116531,0.001072,NaN,0.123267
438,"{'lhs': {'workclass': 'Private', 'race': 'White', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.028871,0.946739,0.165531,0.180161,NaN,0.008388
445,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.141735,0.941643,0.082942,0.025523,NaN,NaN
447,"{'lhs': {'race': 'White', 'income': '<=50K', 'native-country': 'NC-Hispanic'}, 'rhs': {'workclass': 'Private'}}",0.028871,0.895170,0.156464,0.127067,NaN,0.010641
460,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.032981,0.939566,0.086088,0.009773,NaN,NaN
465,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'age-range': '30-45', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.072724,0.941631,0.087595,0.028431,NaN,NaN
467,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.050515,0.940160,0.074848,0.022629,NaN,NaN
468,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.045378,0.916332,0.082411,0.002241,NaN,0.087414
478,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-White', 'hours-per-week': '21-40', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.066194,0.925823,0.093734,0.036981,NaN,NaN
480,"{'lhs': {'workclass': 'Private', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.229408,0.905653,0.124445,NaN,0.124445,NaN
482,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.081077,0.918513,0.116462,NaN,0.116462,NaN
483,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.081010,0.943265,0.087964,NaN,0.087964,NaN
484,"{'lhs': {'workclass': 'Private', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.031953,0.867687,0.205144,NaN,NaN,NaN
485,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.165103,0.918157,0.084236,NaN,0.084236,NaN
487,"{'lhs': {'workclass': 'Private', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.066890,0.901698,0.094937,NaN,NaN,NaN
488,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'hours-per-week': '21-40', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.057543,0.923404,0.086512,NaN,0.086512,NaN
491,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'age-range': '45-60'}, 'rhs': {'income': '<=50K'}}",0.042129,0.865804,0.229021,NaN,0.229021,NaN
492,"{'lhs': {'workclass': 'Private', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.050946,0.886390,0.193889,NaN,NaN,NaN
493,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'age-range': '30-45', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.026517,0.869565,0.131966,NaN,0.131966,NaN
494,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'education-degree': 'HS-College', 'age-range': '30-45'}, 'rhs': {'income': '<=50K'}}",0.028373,0.916488,0.085790,NaN,0.085790,NaN
495,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'hours-per-week': '21-40', 'age-range': '30-45'}, 'rhs': {'income': '<=50K'}}",0.057211,0.877033,0.085864,NaN,0.085864,NaN
496,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'hours-per-week': '21-40', 'age-range': '45-60'}, 'rhs': {'income': '<=50K'}}",0.032219,0.884440,0.177476,NaN,0.177476,NaN
497,"{'lhs': {'workclass': 'Private', 'age-range': '30-45', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.036064,0.897690,0.074034,NaN,NaN,NaN
498,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.033047,0.950429,0.169221,NaN,0.053762,0.044776
499,"{'lhs': {'workclass': 'Private', 'race': 'White', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.184892,0.897795,0.116587,NaN,0.131217,-0.007858
504,"{'lhs': {'workclass': 'Private', 'race': 'White', 'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.066161,0.912249,0.110198,NaN,0.122249,-0.006264
505,"{'lhs': {'workclass': 'Private', 'race': 'White', 'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.064603,0.934324,0.079023,NaN,0.091962,-0.008941
506,"{'lhs': {'workclass': 'Private', 'race': 'White', 'income': '>50K', 'education-degree': 'Bach'}, 'rhs': {'sex': 'Male'}}",0.038284,0.861940,0.173084,NaN,NaN,0.011940
507,"{'lhs': {'workclass': 'Private', 'race': 'White', 'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.029699,0.867377,0.204834,NaN,NaN,-0.000310
513,"{'lhs': {'workclass': 'Private', 'education-degree': 'HS-College', 'sex': 'Male', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.029699,0.929461,0.075983,NaN,-0.000332,NaN
514,"{'lhs': {'workclass': 'Private', 'race': 'White', 'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.047035,0.891892,0.199391,NaN,NaN,0.005502
519,"{'lhs': {'workclass': 'Private', 'race': 'White', 'sex': 'Female', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.129868,0.909893,0.075973,NaN,0.087300,-0.008264
520,"{'lhs': {'workclass': 'Private', 'race': 'White', 'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.063608,0.908617,0.101857,NaN,NaN,0.006919
524,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.207630,0.904418,0.123210,-0.001235,0.129946,NaN
530,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.075773,0.918441,0.116390,-0.000072,0.118664,NaN
531,"{'lhs': {'workclass': 'Private', 'sex': 'Female', 'native-country': 'NC-White', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.074746,0.943120,0.087819,-0.000145,0.091273,NaN

### 3.ACFDs Completion

In [14]:
def cartesianProduct(set_a, set_b): 
    result =[] 
    for i in range(0, len(set_a)): 
        for j in range(0, len(set_b)): 
  
            # for handling case having cartesian 
            # prodct first time of two sets 
            if type(set_a[i]) != list:          
                set_a[i] = [set_a[i]] 
                  
            # coping all the members 
            # of set_a to temp 
            temp = [num for num in set_a[i]] 
              
            # add member of set_b to  
            # temp to have cartesian product      
            temp.append(set_b[j])              
            result.append(temp)   
              
    return result 


  
def Cartesian(list_a, n):
    # result of cartesian product 
    # of all the sets taken two at a time 
    temp = list_a[0] 
      
    # do product of N sets  
    for i in range(1, n): 
        temp = cartesianProduct(temp, list_a[i]) 
          
    return temp 

def createSide(side):
    elem = {}
    for x in side:
        elem[x[0]] = x[1]
    
    return elem

import copy
def findCFDsCombinations(elem):
    CFDs = []
    perm = []
    attr_names = []
    assocRule = list()
    flag = False
    #select db according to already set attributes
    for key in list(elem['lhs'].keys()):
        
        if((key in protected_attr) or (key == target)):
            attr_names.append(key)
            perm.append(df[key].unique())
            flag = True
            
            
    for key in list(elem['rhs'].keys()):
        
        if((key in protected_attr) or (key== target)):
            attr_names.append(key)
            perm.append(df[key].unique())
            flag = True
    
    if(flag == True):
        
        assocRule = copy.deepcopy(elem)
        mat =  Cartesian(perm, len(perm))

        for m in mat:
            if(len(attr_names) == 1):
                for key in list(assocRule['lhs'].keys()):
                    if(key == attr_names[0]):
                        assocRule['lhs'][key] = m
                for key in list(assocRule['rhs'].keys()):
                    if(key == attr_names[0]):
                        assocRule['rhs'][key] = m
            
            else:
                i= 0

                assocRule = copy.deepcopy(elem)
                while(i< len(m)):

                    for key in list(assocRule['lhs'].keys()):
                        if(key == attr_names[i]):
                            assocRule['lhs'][key] = m[i]
                    for key in list(assocRule['rhs'].keys()):
                        if(key == attr_names[i]):
                            assocRule['rhs'][key] = m[i]
                    i = i+1
                   
            CFDs.append(assocRule) 
        return CFDs 
    else:
        return elem

In [15]:
CFDCombinations = []
for elem in df4.Rule:
    #for every rule compute the combinations over the protected attribute
    rulesCount = findCFDsCombinations(elem)
    
    for ar in rulesCount:
        CFDCombinations.append(ar)
        
print("Total number of combinations found: ", len(CFDCombinations))

#print("Original ACFD: ", df4.Rule[0], "\n")
for i in range(0,8):
    
    print("ACFD n.", i, ": " ,CFDCombinations[i])

Total number of combinations found:  296
ACFD n. 0 :  {'lhs': {'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}
ACFD n. 1 :  {'lhs': {'native-country': 'NC-White'}, 'rhs': {'income': '>50K'}}
ACFD n. 2 :  {'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}
ACFD n. 3 :  {'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '>50K'}}
ACFD n. 4 :  {'lhs': {'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '<=50K'}}
ACFD n. 5 :  {'lhs': {'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '>50K'}}
ACFD n. 6 :  {'lhs': {'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '<=50K'}}
ACFD n. 7 :  {'lhs': {'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}

In [16]:
CFDCombintaions = removeDuplicatesArray(CFDCombinations)
print("Total number of combinations found: ", len(CFDCombinations))

Total number of combinations found:  296

In [18]:
df5 = createTable(CFDCombinations)   
pandas.set_option('display.max_colwidth', None)
pandas.set_option('display.max_rows', None)
print("Total number of tuples in dataframe: " ,len(df5))
df5.head()

Total number of tuples in dataframe:  296

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff
0,"{'lhs': {'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.680036,0.745738,-0.005397,-0.005397,NaN,NaN
1,"{'lhs': {'native-country': 'NC-White'}, 'rhs': {'income': '>50K'}}",0.231861,0.254262,0.005397,0.005397,NaN,NaN
2,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.043919,0.908156,0.157021,0.157021,NaN,NaN
3,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '>50K'}}",0.004442,0.091844,-0.157021,-0.157021,NaN,NaN
4,"{'lhs': {'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '<=50K'}}",0.014551,0.683801,-0.067335,-0.067335,NaN,NaN

In [19]:
#orderingCriterion = 0, order using Support, 1 order using Difference, 2 order using Mean
orderingCriterion = 2
#To select the not ethical rules
df51 = df5[df5.Diff > minDiff]

#print("Total number of tuples in dataframe: " ,len(df51))
#Order the rules by Diff or Support or both
if(orderingCriterion == 0):
    df6 = df51.iloc[df51['Support'].argsort()[::-1][:len(df51)]]
elif(orderingCriterion ==1):
    df6 = df51.iloc[df51['Diff'].argsort()[::-1][:len(df51)]]
else:
    df51['Mean'] = 0
    for index, row in df51.iterrows():
         df51.loc[index, 'Mean'] = ((df51.loc[index, 'Support'] + df51.loc[index,'Diff'])/2)
    df6 = df51.iloc[df51['Mean'].argsort()[::-1][:len(df51)]]
    
print("Number of original CFDs: ", len(df4), ". Number of combinations rules: ", len(df5), ". Number of final rules found: ", len(df6))
df6.head()

Number of original CFDs:  23 . Number of combinations rules:  296 . Number of final rules found:  89

/home/chiara/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/chiara/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff,Mean
218,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'income': '<=50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.011369,0.900262,0.870596,0.871711,NaN,NaN,0.440983
223,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'income': '>50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.005171,0.886364,0.856697,0.853332,NaN,NaN,0.430934
16,"{'lhs': {'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.287447,0.886345,0.135210,NaN,0.135210,NaN,0.211329
60,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.262190,0.885382,0.134246,-0.000963,0.139644,NaN,0.198218
44,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.262190,0.885382,0.134246,-0.000963,0.139644,NaN,0.198218

In [20]:
#number of rules that the user wants to see
n = 89
df6.head(n)

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff,Mean
218,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'income': '<=50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.011369,0.900262,0.870596,0.871711,NaN,NaN,0.440983
223,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'income': '>50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.005171,0.886364,0.856697,0.853332,NaN,NaN,0.430934
16,"{'lhs': {'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.287447,0.886345,0.135210,NaN,0.135210,NaN,0.211329
60,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.262190,0.885382,0.134246,-0.000963,0.139644,NaN,0.198218
44,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.262190,0.885382,0.134246,-0.000963,0.139644,NaN,0.198218
226,"{'lhs': {'sex': 'Female', 'race': 'White'}, 'rhs': {'income': '<=50K'}}",0.229540,0.877026,0.125891,NaN,0.140694,-0.009319,0.177716
246,"{'lhs': {'race': 'White', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.229540,0.877026,0.125891,NaN,0.140694,-0.009319,0.177716
292,"{'lhs': {'workclass': 'Private', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.229408,0.905653,0.124445,NaN,0.124445,NaN,0.176926
36,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.204647,0.901314,0.095857,NaN,0.095857,NaN,0.150252
191,"{'lhs': {'native-country': 'NC-White', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.216746,0.934811,0.075054,0.023916,NaN,NaN,0.145900
237,"{'lhs': {'sex': 'Male', 'race': 'White'}, 'rhs': {'income': '>50K'}}",0.194504,0.325241,0.076376,NaN,0.061574,0.011481,0.135440
249,"{'lhs': {'race': 'White', 'sex': 'Male'}, 'rhs': {'income': '>50K'}}",0.194504,0.325241,0.076376,NaN,0.061574,0.011481,0.135440
69,"{'lhs': {'sex': 'Male', 'native-country': 'NC-White'}, 'rhs': {'income': '>50K'}}",0.197918,0.321419,0.072554,0.007659,0.067157,NaN,0.135236
53,"{'lhs': {'sex': 'Male', 'native-country': 'NC-White'}, 'rhs': {'income': '>50K'}}",0.197918,0.321419,0.072554,0.007659,0.067157,NaN,0.135236
177,"{'lhs': {'race': 'Other', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.000099,0.500000,0.251135,0.409091,NaN,0.184022,0.125617
143,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'race': 'Other'}, 'rhs': {'income': '>50K'}}",0.000099,0.500000,0.251135,0.409091,NaN,0.184022,0.125617
35,"{'lhs': {'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.084159,0.877636,0.165426,NaN,NaN,NaN,0.124793
184,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '<=50K'}}",0.000066,1.000000,0.248865,0.118881,NaN,0.315978,0.124466
144,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.000066,1.000000,0.248865,0.118881,NaN,0.315978,0.124466
134,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.000033,1.000000,0.248865,0.118881,NaN,0.316199,0.124449
182,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '<=50K'}}",0.000033,1.000000,0.248865,0.118881,NaN,0.316199,0.124449
250,"{'lhs': {'race': 'Black', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.043588,0.939286,0.188150,NaN,0.069119,0.052941,0.115869
228,"{'lhs': {'sex': 'Female', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.043588,0.939286,0.188150,NaN,0.069119,0.052941,0.115869
31,"{'lhs': {'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.046538,0.868275,0.183995,NaN,NaN,NaN,0.115266
20,"{'lhs': {'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.101362,0.910932,0.126163,NaN,0.126163,NaN,0.113763
62,"{'lhs': {'sex': 'Female', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.015181,0.962185,0.211050,0.075840,0.054029,NaN,0.113115
46,"{'lhs': {'sex': 'Female', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.015181,0.962185,0.211050,0.075840,0.054029,NaN,0.113115
172,"{'lhs': {'race': 'Other', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.003447,0.962963,0.211828,0.053872,NaN,0.054807,0.107637
122,"{'lhs': {'native-country': 'NC-Hispanic', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.003447,0.962963,0.211828,0.053872,NaN,0.054807,0.107637
258,"{'lhs': {'race': 'Other', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.002751,0.954023,0.202888,NaN,0.044932,0.067678,0.102819
232,"{'lhs': {'sex': 'Female', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.002751,0.954023,0.202888,NaN,0.044932,0.067678,0.102819
2,"{'lhs': {'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.043919,0.908156,0.157021,0.157021,NaN,NaN,0.100470
78,"{'lhs': {'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.081309,0.870167,0.119031,NaN,NaN,0.119031,0.100170
116,"{'lhs': {'native-country': 'NC-Hispanic', 'race': 'White'}, 'rhs': {'income': '<=50K'}}",0.032252,0.916196,0.165061,0.179863,NaN,0.008040,0.098656
148,"{'lhs': {'race': 'White', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.032252,0.916196,0.165061,0.179863,NaN,0.008040,0.098656
278,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.038848,0.938351,0.157143,0.157143,NaN,NaN,0.097995
108,"{'lhs': {'native-country': 'NC-White', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.075839,0.869631,0.118496,-0.000535,NaN,0.123893,0.097168
154,"{'lhs': {'race': 'Black', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.075839,0.869631,0.118496,-0.000535,NaN,0.123893,0.097168
24,"{'lhs': {'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.095926,0.931445,0.095758,NaN,0.095758,NaN,0.095842
43,"{'lhs': {'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.099937,0.900269,0.084922,NaN,NaN,NaN,0.092429
285,"{'lhs': {'income': '<=50K', 'native-country': 'NC-Hispanic'}, 'rhs': {'workclass': 'Private'}}",0.038848,0.884528,0.145823,0.116248,NaN,NaN,0.092335
268,"{'lhs': {'workclass': 'Private', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.062415,0.896667,0.115459,NaN,NaN,0.115459,0.088937
272,"{'lhs': {'workclass': 'Private', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.006364,0.941176,0.159969,NaN,NaN,0.159969,0.083166
180,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.000365,0.916667,0.165531,0.035548,NaN,0.008510,0.082948
124,"{'lhs': {'native-country': 'NC-Hispanic', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.000365,0.916667,0.165531,0.035548,NaN,0.008510,0.082948
32,"{'lhs': {'age-range': '45-60', 'income': '<=50K'}, 'rhs': {'sex': 'Female'}}",0.058504,0.394855,0.107064,NaN,NaN,NaN,0.082784
82,"{'lhs': {'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.006961,0.909091,0.157956,NaN,NaN,0.157956,0.082458
70,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.028738,0.881994,0.130859,0.195754,-0.026162,NaN,0.079798
54,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.028738,0.881994,0.130859,0.195754,-0.026162,NaN,0.079798
10,"{'lhs': {'hours-per-week': '21-40', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.033909,0.928312,0.122855,0.122855,NaN,NaN,0.078382
92,"{'lhs': {'education-degree': 'HS-College', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.002254,0.985507,0.149820,NaN,NaN,0.149820,0.076037
98,"{'lhs': {'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.064238,0.891034,0.085578,NaN,NaN,0.085578,0.074908
262,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.003182,0.897196,0.146061,NaN,0.016077,0.010851,0.074622
234,"{'lhs': {'sex': 'Female', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.003182,0.897196,0.146061,NaN,0.016077,0.010851,0.074622
118,"{'lhs': {'native-country': 'NC-Hispanic', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.004972,0.892857,0.141722,0.022690,NaN,-0.015299,0.073347
156,"{'lhs': {'race': 'Black', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.004972,0.892857,0.141722,0.022690,NaN,-0.015299,0.073347
84,"{'lhs': {'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.008353,0.881119,0.129984,NaN,NaN,0.129984,0.069168
112,"{'lhs': {'native-country': 'NC-White', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.003315,0.884956,0.133820,-0.024135,NaN,0.139218,0.068568
170,"{'lhs': {'race': 'Other', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.003315,0.884956,0.133820,-0.024135,NaN,0.139218,0.068568
102,"{'lhs': {'hours-per-week': '21-40', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.005303,0.935673,0.130216,NaN,NaN,0.130216,0.067760
203,"{'lhs': {'native-country': 'NC-Hispanic', 'income': '>50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.000729,0.164179,0.134513,0.131148,NaN,NaN,0.067621
242,"{'lhs': {'sex': 'Male', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.004210,0.881944,0.130809,NaN,-0.027146,0.195705,0.067509
260,"{'lhs': {'race': 'Other', 'sex': 'Male'}, 'rhs': {'income': '<=50K'}}",0.004210,0.881944,0.130809,NaN,-0.027146,0.195705,0.067509
178,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.007889,0.878229,0.127094,-0.002890,NaN,0.132491,0.067491
114,"{'lhs': {'native-country': 'NC-White', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.007889,0.878229,0.127094,-0.002890,NaN,0.132491,0.067491
57,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '>50K'}}",0.005403,0.375576,0.126711,0.061816,0.059377,NaN,0.066057
73,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '>50K'}}",0.005403,0.375576,0.126711,0.061816,0.059377,NaN,0.066057
274,"{'lhs': {'workclass': 'Private', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.005701,0.905263,0.124055,NaN,NaN,0.124055,0.064878
23,"{'lhs': {'sex': 'Male', 'education-degree': 'Assoc'}, 'rhs': {'income': '>50K'}}",0.054261,0.290351,0.075121,NaN,0.075121,NaN,0.064691
75,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.004839,0.373402,0.124537,0.059641,0.057423,NaN,0.064688
59,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.004839,0.373402,0.124537,0.059641,0.057423,NaN,0.064688
264,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'sex': 'Male'}, 'rhs': {'income': '<=50K'}}",0.005171,0.871508,0.120373,NaN,-0.009611,0.185268,0.062772
244,"{'lhs': {'sex': 'Male', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.005171,0.871508,0.120373,NaN,-0.009611,0.185268,0.062772
254,"{'lhs': {'race': 'Asian-Pac-Islander', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.008386,0.860544,0.109409,NaN,0.137639,-0.025801,0.058898
230,"{'lhs': {'sex': 'Female', 'race': 'Asian-Pac-Islander'}, 'rhs': {'income': '<=50K'}}",0.008386,0.860544,0.109409,NaN,0.137639,-0.025801,0.058898
88,"{'lhs': {'education-degree': 'HS-College', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.032351,0.919021,0.083333,NaN,NaN,0.083333,0.057842
137,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'race': 'White'}, 'rhs': {'income': '>50K'}}",0.000530,0.363636,0.114772,0.099969,NaN,0.047658,0.057651
153,"{'lhs': {'race': 'White', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.000530,0.363636,0.114772,0.099969,NaN,0.047658,0.057651
104,"{'lhs': {'hours-per-week': '21-40', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.005867,0.907692,0.102235,NaN,NaN,0.102235,0.054051
211,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.006464,0.960591,0.100834,0.049696,NaN,NaN,0.053649
241,"{'lhs': {'sex': 'Male', 'race': 'Asian-Pac-Islander'}, 'rhs': {'income': '>50K'}}",0.006861,0.344426,0.095561,NaN,0.067331,0.030666,0.051211
257,"{'lhs': {'race': 'Asian-Pac-Islander', 'sex': 'Male'}, 'rhs': {'income': '>50K'}}",0.006861,0.344426,0.095561,NaN,0.067331,0.030666,0.051211
206,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'income': '<=50K'}, 'rhs': {'race': 'White'}}",0.013723,0.943052,0.083296,0.100239,NaN,NaN,0.048509
15,"{'lhs': {'hours-per-week': '21-40', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.003712,0.286445,0.091902,0.091902,NaN,NaN,0.047807
138,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.000166,0.833333,0.082198,-0.036833,NaN,0.149312,0.041182
160,"{'lhs': {'race': 'Black', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '<=50K'}}",0.000166,0.833333,0.082198,-0.036833,NaN,0.149312,0.041182
127,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'race': 'White'}, 'rhs': {'income': '>50K'}}",0.006464,0.320197,0.071332,0.056530,NaN,0.003998,0.038898
151,"{'lhs': {'race': 'White', 'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '>50K'}}",0.006464,0.320197,0.071332,0.056530,NaN,0.003998,0.038898
199,"{'lhs': {'native-country': 'NC-Hispanic', 'income': '<=50K'}, 'rhs': {'race': 'Other'}}",0.003447,0.078491,0.070834,0.069224,NaN,NaN,0.037140

In [23]:
df6 = removeDuplicates(df6)
print(len(df6))
df6.head(57)

57

,Rule,Support,Confidence,Diff,native-countryDiff,sexDiff,raceDiff,Mean
0,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'income': '<=50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.011369,0.900262,0.870596,0.871711,NaN,NaN,0.440983
1,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'income': '>50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.005171,0.886364,0.856697,0.853332,NaN,NaN,0.430934
2,"{'lhs': {'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.287447,0.886345,0.135210,NaN,0.135210,NaN,0.211329
3,"{'lhs': {'sex': 'Female', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.262190,0.885382,0.134246,-0.000963,0.139644,NaN,0.198218
4,"{'lhs': {'sex': 'Female', 'race': 'White'}, 'rhs': {'income': '<=50K'}}",0.229540,0.877026,0.125891,NaN,0.140694,-0.009319,0.177716
5,"{'lhs': {'workclass': 'Private', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.229408,0.905653,0.124445,NaN,0.124445,NaN,0.176926
6,"{'lhs': {'sex': 'Female', 'hours-per-week': '21-40'}, 'rhs': {'income': '<=50K'}}",0.204647,0.901314,0.095857,NaN,0.095857,NaN,0.150252
7,"{'lhs': {'native-country': 'NC-White', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.216746,0.934811,0.075054,0.023916,NaN,NaN,0.145900
8,"{'lhs': {'sex': 'Male', 'race': 'White'}, 'rhs': {'income': '>50K'}}",0.194504,0.325241,0.076376,NaN,0.061574,0.011481,0.135440
9,"{'lhs': {'sex': 'Male', 'native-country': 'NC-White'}, 'rhs': {'income': '>50K'}}",0.197918,0.321419,0.072554,0.007659,0.067157,NaN,0.135236
10,"{'lhs': {'race': 'Other', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.000099,0.500000,0.251135,0.409091,NaN,0.184022,0.125617
11,"{'lhs': {'age-range': '45-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.084159,0.877636,0.165426,NaN,NaN,NaN,0.124793
12,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '<=50K'}}",0.000066,1.000000,0.248865,0.118881,NaN,0.315978,0.124466
13,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.000033,1.000000,0.248865,0.118881,NaN,0.316199,0.124449
14,"{'lhs': {'race': 'Black', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.043588,0.939286,0.188150,NaN,0.069119,0.052941,0.115869
15,"{'lhs': {'education-degree': 'HS-College', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.046538,0.868275,0.183995,NaN,NaN,NaN,0.115266
16,"{'lhs': {'sex': 'Female', 'education-degree': 'Assoc'}, 'rhs': {'income': '<=50K'}}",0.101362,0.910932,0.126163,NaN,0.126163,NaN,0.113763
17,"{'lhs': {'sex': 'Female', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.015181,0.962185,0.211050,0.075840,0.054029,NaN,0.113115
18,"{'lhs': {'race': 'Other', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.003447,0.962963,0.211828,0.053872,NaN,0.054807,0.107637
19,"{'lhs': {'race': 'Other', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.002751,0.954023,0.202888,NaN,0.044932,0.067678,0.102819
20,"{'lhs': {'native-country': 'NC-Hispanic', 'race': 'White'}, 'rhs': {'income': '<=50K'}}",0.032252,0.916196,0.165061,0.179863,NaN,0.008040,0.098656
21,"{'lhs': {'workclass': 'Private', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.038848,0.938351,0.157143,0.157143,NaN,NaN,0.097995
22,"{'lhs': {'native-country': 'NC-White', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.075839,0.869631,0.118496,-0.000535,NaN,0.123893,0.097168
23,"{'lhs': {'sex': 'Female', 'education-degree': 'HS-College'}, 'rhs': {'income': '<=50K'}}",0.095926,0.931445,0.095758,NaN,0.095758,NaN,0.095842
24,"{'lhs': {'hours-per-week': '41-60', 'income': '>50K'}, 'rhs': {'sex': 'Male'}}",0.099937,0.900269,0.084922,NaN,NaN,NaN,0.092429
25,"{'lhs': {'income': '<=50K', 'native-country': 'NC-Hispanic'}, 'rhs': {'workclass': 'Private'}}",0.038848,0.884528,0.145823,0.116248,NaN,NaN,0.092335
26,"{'lhs': {'workclass': 'Private', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.062415,0.896667,0.115459,NaN,NaN,0.115459,0.088937
27,"{'lhs': {'workclass': 'Private', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.006364,0.941176,0.159969,NaN,NaN,0.159969,0.083166
28,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.000365,0.916667,0.165531,0.035548,NaN,0.008510,0.082948
29,"{'lhs': {'age-range': '45-60', 'income': '<=50K'}, 'rhs': {'sex': 'Female'}}",0.058504,0.394855,0.107064,NaN,NaN,NaN,0.082784
30,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.028738,0.881994,0.130859,0.195754,-0.026162,NaN,0.079798
31,"{'lhs': {'hours-per-week': '21-40', 'native-country': 'NC-Hispanic'}, 'rhs': {'income': '<=50K'}}",0.033909,0.928312,0.122855,0.122855,NaN,NaN,0.078382
32,"{'lhs': {'education-degree': 'HS-College', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.002254,0.985507,0.149820,NaN,NaN,0.149820,0.076037
33,"{'lhs': {'hours-per-week': '21-40', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.064238,0.891034,0.085578,NaN,NaN,0.085578,0.074908
34,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.003182,0.897196,0.146061,NaN,0.016077,0.010851,0.074622
35,"{'lhs': {'native-country': 'NC-Hispanic', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.004972,0.892857,0.141722,0.022690,NaN,-0.015299,0.073347
36,"{'lhs': {'native-country': 'NC-White', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.003315,0.884956,0.133820,-0.024135,NaN,0.139218,0.068568
37,"{'lhs': {'hours-per-week': '21-40', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.005303,0.935673,0.130216,NaN,NaN,0.130216,0.067760
38,"{'lhs': {'native-country': 'NC-Hispanic', 'income': '>50K'}, 'rhs': {'race': 'Asian-Pac-Islander'}}",0.000729,0.164179,0.134513,0.131148,NaN,NaN,0.067621
39,"{'lhs': {'sex': 'Male', 'race': 'Other'}, 'rhs': {'income': '<=50K'}}",0.004210,0.881944,0.130809,NaN,-0.027146,0.195705,0.067509
40,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'native-country': 'NC-White'}, 'rhs': {'income': '<=50K'}}",0.007889,0.878229,0.127094,-0.002890,NaN,0.132491,0.067491
41,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Non-Hisp-White'}, 'rhs': {'income': '>50K'}}",0.005403,0.375576,0.126711,0.061816,0.059377,NaN,0.066057
42,"{'lhs': {'workclass': 'Private', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.005701,0.905263,0.124055,NaN,NaN,0.124055,0.064878
43,"{'lhs': {'sex': 'Male', 'education-degree': 'Assoc'}, 'rhs': {'income': '>50K'}}",0.054261,0.290351,0.075121,NaN,0.075121,NaN,0.064691
44,"{'lhs': {'sex': 'Male', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.004839,0.373402,0.124537,0.059641,0.057423,NaN,0.064688
45,"{'lhs': {'race': 'Amer-Indian-Eskimo', 'sex': 'Male'}, 'rhs': {'income': '<=50K'}}",0.005171,0.871508,0.120373,NaN,-0.009611,0.185268,0.062772
46,"{'lhs': {'race': 'Asian-Pac-Islander', 'sex': 'Female'}, 'rhs': {'income': '<=50K'}}",0.008386,0.860544,0.109409,NaN,0.137639,-0.025801,0.058898
47,"{'lhs': {'education-degree': 'HS-College', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.032351,0.919021,0.083333,NaN,NaN,0.083333,0.057842
48,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'race': 'White'}, 'rhs': {'income': '>50K'}}",0.000530,0.363636,0.114772,0.099969,NaN,0.047658,0.057651
49,"{'lhs': {'hours-per-week': '21-40', 'race': 'Amer-Indian-Eskimo'}, 'rhs': {'income': '<=50K'}}",0.005867,0.907692,0.102235,NaN,NaN,0.102235,0.054051
50,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'income': '>50K'}, 'rhs': {'race': 'White'}}",0.006464,0.960591,0.100834,0.049696,NaN,NaN,0.053649
51,"{'lhs': {'sex': 'Male', 'race': 'Asian-Pac-Islander'}, 'rhs': {'income': '>50K'}}",0.006861,0.344426,0.095561,NaN,0.067331,0.030666,0.051211
52,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'income': '<=50K'}, 'rhs': {'race': 'White'}}",0.013723,0.943052,0.083296,0.100239,NaN,NaN,0.048509
53,"{'lhs': {'hours-per-week': '21-40', 'native-country': 'NC-Asian-Pacific'}, 'rhs': {'income': '>50K'}}",0.003712,0.286445,0.091902,0.091902,NaN,NaN,0.047807
54,"{'lhs': {'native-country': 'NC-Asian-Pacific', 'race': 'Black'}, 'rhs': {'income': '<=50K'}}",0.000166,0.833333,0.082198,-0.036833,NaN,0.149312,0.041182
55,"{'lhs': {'native-country': 'NC-Non-Hisp-White', 'race': 'White'}, 'rhs': {'income': '>50K'}}",0.006464,0.320197,0.071332,0.056530,NaN,0.003998,0.038898
56,"{'lhs': {'native-country': 'NC-Hispanic', 'income': '<=50K'}, 'rhs': {'race': 'Other'}}",0.003447,0.078491,0.070834,0.069224,NaN,NaN,0.037140

### 4. ACFDs Selection and ACFDs Ranking

In [ ]:
#INPUT PARAMETERS
#indexes of the selected rules
indexArray = [22, 25, 101, 105, 94, 85, 102]

#minumum number of rules necessary to have a problematic tuple
nMarked = 0

#for every rule = elem, iter over all rows and add one if the tuple respect the rule
def validates(df,elem):  
    
    for index, row in df.iterrows():
        flag = True
        for key in list(elem['lhs'].keys()):
            value = elem['lhs'][key]

            #add the constraint to manage '?' that could be a missing values
            if (str(row[key]) != value):
                flag = False
            

        for key in list(elem['rhs'].keys()):
            value = elem['rhs'][key]

            #add the constraint to manage missing values
            if (str(row[key]) != value):
                flag = False
                
        if(flag == True):
            #update the marked field
            df.loc[index, 'marked'] = df.loc[index, 'marked'] + 1

#add column 'marked'
df = pandas.read_csv(file_path)
#add one column to count the number of tuples involved by the dependencies
df['marked'] = 0


#create the list of the selected dependencies
dependencies = []
for i in indexArray:
    dependencies.append(df6.Rule[i])
    
#create a copy of the df to count the number of tuples involved by the dependencies
dfMarked = df
for dep in dependencies:
    #for every dependency add one to marked field if the tuple respect the rule
    validates(dfMarked, dep)

def extractProblematicTuples(dfMarked):
    dfEthicalProblems = dfMarked[dfMarked.marked > nMarked]
    return dfEthicalProblems
    
dfEthicalProblems = extractProblematicTuples(dfMarked)
print("Problematic tuples: ", len(dfEthicalProblems))
dfEthicalProblems.head()

In [ ]:
def computeStatistics(df6, selectedDependencies, dfMarked, indexArray):

    scores = 0
    diffs = 0
    marks = dfMarked.marked.sum()
    
    for i in indexArray:
        scores = scores + df6.Mean[i]
        diffs = diffs + df6.Diff[i]

    scoreMean = (scores/len(selectedDependencies))
    diffMean = (diffs/len(selectedDependencies))
    pMean = 0



    dfM = dfMarked[dfMarked.marked != 0]
    #print(All tuples interested by the rules: ', marks)

    print('Number of tuples interested by the rules: ', len(dfM), ". Total number of tuples: ", len(df), "\n")
    print( "Cumulative Support: ", len(dfM)/len(df), ". Difference Mean: ", diffMean, "\n")


    for attribute in protected_attr:
        deps = 0
        if(attribute+'Diff' in df6):
            for i in indexArray:
                if not(pandas.isna(df6[attribute+'Diff'][i])):
                    #print(df6[attribute+'Diff'][i])
                    pMean = pMean + df6[attribute+'Diff'][i];
                    deps = deps+1
            if(pMean != 0):
                pMean = (pMean/deps)
                print(attribute, '-Difference Mean: ', pMean, "\n")

    finalRules =  df6[df6.index.isin(indexArray)]
    print("Total number of ACFDs selected: ", len(finalRules), "\n")
    return finalRules

finalRules = computeStatistics(df6, dependencies, dfMarked, indexArray)
finalRules.head()